*.pyc
.DS_Store
.coverage
.env
venv/
gen/
.webassets-cache
bower_components/
app/static/node_modules/
/config.py
yarn-error.log
.idea
app.log*
dump.rdb
migrations/versions
.vscode
celerybeat-schedule*
node_modules
docker-compose-dev.yml
*.mmdb
.geoipupdate.lock
